---
import FullScreenSectionLayout from "@layouts/FullScreenSectionLayout.astro";
import Paragraph from "@components/Paragraph.astro";
import ClientesImage from '@assets/images/clientes.webp'
import IngresosImage from '@assets/images/ingresos.webp'
import MktImage from '@assets/images/mkt.webp'
import VentasImage from '@assets/images/cierre-ventas.webp'
import Heading from "@components/Heading.astro";
import SkillsArticle from "./SkillsArticle.astro";
import SkillsImage from "./SkillsImage.astro";
import PortalCircle from "@components/icons/PortalCircle.astro";
import Discord from "@components/icons/Discord.astro";

import { getI18N } from "@i18n/i18n";

const { currentLocale }  = Astro
const I18N = getI18N({ currentLocale })
---
<FullScreenSectionLayout>

    <div id="Offer" class="w-full max-w-[1920px] py-[3rem] px-[2rem] sm:px-[4rem] flex flex-col gap-[2.5rem]">
        <Heading level="h2" styles="mx-auto px-8 text-center">
            {I18N?.Offer_Title}
        </Heading>

        <section class="grid grid-cols-1 gap-[3rem]">

            <article class="flex flex-col gap-[2.5rem]">
                <Heading level="h3" styles="mx-auto px-8 text-center text-white">
                    {I18N?.Offer_Skills_Title}
                </Heading>
                <section class="grow grid grid-cols-5 gap-3">
                    <SkillsArticle grow={true}>
                        <SkillsImage slot="skills-image" photo={ClientesImage} photoAlt="Adquisición de clientes"/>
                        <Heading slot="skills-title" level="h4" styles="text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
                            {I18N?.Offer_Skills_1_Heading}
                        </Heading>
                        <Paragraph slot="skills-desc">
                            {I18N?.Offer_Skills_1_Desc}
                        </Paragraph>
                    </SkillsArticle>
                    <SkillsArticle grow={false}>
                        <SkillsImage slot="skills-image" photo={MktImage} photoAlt="Marketing y creación de ofertas"/>
                        <Heading slot="skills-title" level="h4" styles="text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-balance">
                            {I18N?.Offer_Skills_2_Heading}
                        </Heading>
                        <Paragraph slot="skills-desc">
                            {I18N?.Offer_Skills_1_Desc}
                        </Paragraph>
                    </SkillsArticle>
                    <SkillsArticle grow={false}>
                        <SkillsImage slot="skills-image" photo={IngresosImage} photoAlt="Habilidades de altos ingresos"/>
                        <Heading slot="skills-title" level="h4" styles="text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.9)] ">
                            {I18N?.Offer_Skills_3_Heading}
                        </Heading>
                        <Paragraph slot="skills-desc">
                            {I18N?.Offer_Skills_3_Desc}
                        </Paragraph>
                    </SkillsArticle>
                    <SkillsArticle grow={true}>
                        <SkillsImage slot="skills-image" photo={VentasImage} photoAlt="Cierre de ventas"/>
                        <Heading slot="skills-title" level="h4" styles="text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
                            {I18N?.Offer_Skills_4_Heading}
                        </Heading>
                        <Paragraph slot="skills-desc">
                            {I18N?.Offer_Skills_4_Desc}
                        </Paragraph>
                    </SkillsArticle>
                </section>
            </article>

            <div class="flex flex-col xl:flex-row justify-start gap-[2rem]">

                <article class="grow flex flex-col gap-3">
                    <Heading level="h3" styles="mx-auto px-8 text-center text-white">
                        {I18N?.Offer_Community_Title}
                    </Heading>
                    <div class="text-center">
                        <Paragraph set:html={I18N?.Offer_Community_Desc_1}></Paragraph>
                        <Paragraph set:html={I18N?.Offer_Community_Desc_2}></Paragraph>
                    </div>
                </article>   

                <article class="grow flex flex-col gap-3">
                    <Heading level="h3" styles="mx-auto px-8 text-center text-white">
                        {I18N?.Offer_Accesses_Title}
                    </Heading>
                    <section class="grid grid-cols-1 gap-3">
                        <article class="flex gap-5">
                            <PortalCircle />
                            <div class="flex flex-col text-pretty">
                                <Paragraph styles="font-normal text-primary_dark">
                                    {I18N?.Offer_Accesses_PortalCircle_Title}
                                </Paragraph>
                                <Paragraph>
                                    {I18N?.Offer_Accesses_PortalCircle_Desc}
                                </Paragraph>
                            </div>
                        </article>
                        <article class="flex gap-5">
                            <Discord/>
                            <div class="flex flex-col text-pretty">
                                <Paragraph styles="font-normal text-primary_dark">
                                    {I18N?.Offer_Accesses_Discord_Title}
                                </Paragraph>
                                <Paragraph>
                                    {I18N?.Offer_Accesses_Discord_Desc}
                                </Paragraph>
                            </div>
                        </article>
                    </section>
                </article>  

            </div>

        </section>
    </div>

    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(300%_140%_at_50%_0%,#000_60%,#CFA116_100%)]"></div>
</FullScreenSectionLayout>