---
import Heading from "@components/Heading.astro";
import Paragraph from "@components/Paragraph.astro";
import Config from "@components/icons/whyUs/Config.astro";
import Brain from "@components/icons/whyUs/Brain.astro";
import Community from "@components/icons/whyUs/Community.astro";
import FullScreenSectionLayout from "@layouts/FullScreenSectionLayout.astro";
import { getI18N } from "@i18n/i18n";

const { currentLocale }  = Astro
const I18N = getI18N({ currentLocale })
---
<FullScreenSectionLayout styles="">
    <div id="WhyUs" class="pb-[3rem] px-[4rem] flex flex-col items-center">
        <Heading level="h2" styles="text-center">
            {I18N?.WhyUs_Title}
        </Heading>
        <article class="flex flex-col gap-4 mt-10 text-center max-w-[1000px]">
            <Paragraph isSmall={false}>
                {I18N?.WhyUs_P1}
            </Paragraph>
            <Paragraph isSmall={false}>
                {I18N?.WhyUs_P2}
            </Paragraph>
            <Paragraph isSmall={false}>
                {I18N?.WhyUs_P3}
            </Paragraph>
        </article>
        <article class="flex flex-col gap-5 mt-16 max-w-[1000px]">
            <div class="flex flex-col gap-5">
                <div class="flex flex-row gap-5">
                    <Config />
                    <div class="flex flex-col ">
                        <Heading level="h4">
                            {I18N?.WhyUs_Item1_Heading}
                        </Heading>
                        <Paragraph styles="text-pretty">
                            {I18N?.WhyUs_Item1_Description}
                        </Paragraph>
                    </div>
                </div>
                <div class="flex flex-row gap-5">
                    <Brain/>
                    <div class="flex flex-col ">
                        <Heading level="h4">
                            {I18N?.WhyUs_Item2_Heading}
                        </Heading>
                        <Paragraph styles="text-pretty">
                            {I18N?.WhyUs_Item2_Description}
                        </Paragraph>
                    </div>
                </div>
                <div class="flex flex-row gap-5">
                    <Community />
                    <div class="flex flex-col ">
                        <Heading level="h4">
                            {I18N?.WhyUs_Item3_Heading}
                        </Heading>
                        <Paragraph styles="text-pretty">
                            {I18N?.WhyUs_Item3_Description}
                        </Paragraph>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(80%_125%_at_50%_10%,#000_60%,#CFA116_100%)]"></div>
</FullScreenSectionLayout>